:root {
    --primary-text-color: #292929;
    --color-vav-link:#262626;
    --color-title: #1A1A1A;
    --background-color: #F1F6FA;
}

body {
    color:var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--color-vav-link);
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 120px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    /* border: 1px solid teal; */
}

.container-color {
    background-color: var(--background-color);
}

.overlya {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: -100px;
    margin-bottom: -100px;
}

.overlya::before {
    content: "";
    position: absolute;
    top: 20%;
    right: 5%;
    width: 45%;
    height: 45%;
    background-image: url(./images/hero_@1x.jpg);
    background-size: cover;
    background-position: center;
    transform: rotate(15deg);
    z-index: -1;
}

.overlya-artefacts {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: -100px;
    margin-bottom: -100px;
}

.overlya-artefacts::before {
    content: "";
    position: absolute;
    top: 30%;
    left: -1%;
    width: 40%;
    height: 70%;
    background-image: url(./images/artefacts_@2x.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 9999;
    padding-top: 8px;
    padding-bottom: 8px;
}


.nav-menu {
    display: flex;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 8px;
    font-weight: 800;
    font-size: 16px;
    line-height: 1.5;
}

.nav-list {
    display: flex; 
    margin-left: 291px;
}

.nav-list .item {
   margin-right: 40px;
}

.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.hero-title {
    font-weight: 400;
    font-size: 62px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1064px;
    color: var(--color-title);
    padding-top: 165px;
    margin-bottom: 50px;
}

.hero-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 848px;
    margin-bottom: 50px;
}

.hero-idea-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 848px;
    padding-bottom: 180px;
}

.hero-btn {
    display: block;
    width: 217px;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    background: #FFFFFF;
    border-radius: 100px;
    border: none; 
    cursor: pointer;
    margin-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.hero-video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.idea-title {
    font-weight: 400;
    font-size: 56px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 1010px;
    margin-bottom: 50px;
    padding-top: 180px;
}

.title-artefacts {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    margin-right: auto;
    width: 740px;
    margin-bottom: 80px;
    padding-top: 160px;
}

.artefacts-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 150px;
}

.artefacts-list>.item {
    flex-basis: calc((100% - 36px) / 3);
}

.works-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 12px;
}

.works-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

.examples {
    width: 416px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.92);
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
}

.examples-thumb{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.works-icon {
    margin-left: 24px;
}

.special-title {
    font-weight: 700;
}

.for-agencies {
    font-size: 24px;
    line-height: 1.5;
    text-transform: uppercase;
}

.title-agencies {
    font-weight: 400;
    font-size: 56px;
    line-height: 1.5;
    margin-right: auto;
    width: 848px;
}

.agencies-thumb {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.agencies-btn {
    width: 210px;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    background: #171717;
    border-radius: 100px;
    cursor: pointer;
    color: #FFFFFF;
    margin-left: 222px;
    margin-right: 80px;
    border: none;
}

.agencies-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    width: 740px;
    margin-bottom: 80px;
}

.agencies-list {
    margin-left: 80px;
    margin-right: 116px;
}

.agencies-list .item:not(:last-child) {
    margin-bottom: 12px;
}

.ideas-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    margin-left: 12px;
}

.ideas-thumb {
    display: flex;
    align-items: center;
    width: 524px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.92);
    padding-left: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.ideas-icon {
    margin-left: 32px;
}

.ideas-text {
    width: 460px;
    margin-left: 32px;
}

.ideas-decoration {
    width: 524px;
    height: 158px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.92); 
} 

.decoration-agencies-video {
    display: flex;
}

.faq-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.5;
    margin-right: auto;
    width: 143px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.faq-list {
    margin-left: 80px;
    margin-right: 116px;
    padding-bottom: 120px;
}

.faq-list .item:not(:last-child) {
    margin-bottom: 16px;
}

.faq-decoration {
    display: flex;
    width: 848px;
    height: 86px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.92);
}

.faq-list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 32px;
}

.faq-thumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 848px;
    height: 158px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.92);
}

.faq-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    width: 734px;
    margin-left: 32px;
    margin-bottom: 32px;
}

.faq-thumb:hover,
.faq-decoration:hover, 
.ideas-thumb:hover,
.ideas-decoration:hover,
.examples:hover {
    border: 1px solid #8FD47A;
    cursor: pointer;
}

.contacts-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    width: 524px;
    margin-bottom: 20px;
}

.contacts-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    width: 524px;
    margin-right: 232px;
}

.contacts-decoration {
    display: flex;
}

.contacts-form {
    width: 416px;
    margin-top: 38px;
}

.form-decoration input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.form-btn {
    width: 416px;
    height: 80px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    background: #171717;
    border-radius: 100px;
    cursor: pointer;
    color: #FFFFFF;
    margin-right: 188px;
    border: none;
}

.footer {
    padding-bottom: 75px;
}

.logo-footer {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.2;
    margin-left: 13px;
}

.footer-text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 80px;
}

.footer-about-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5
}

.footer-about {
    display: flex;
    align-items: center;
}

.footer-list {
    display: flex;
    align-items: center;
    margin-left: 330px;
}

.about-startilla {
    margin-right: 392px;
}

.about-terms {
    margin-right: 38px;
}

.footer-list .item:not(:last-child) {
    margin-right: 16px;
}